/* TaskDetailsSidebar.css */
/* Specific styles for TaskDetails when in "sidebar" mode */
.task-details.sidebar {
    width: 300px;
    height: 100vh;
    background-color: #f9f9f9;
    border-left: 1px solid #ddd;
    position: fixed;
    right: 0;
    top: 0;
    overflow-y: auto;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    margin-top: 10vh;
  }
  .task-details-subtasks {
    display: flex;
    flex-direction: column;
    gap: 10px;
    }
      
  